<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.haoji">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.example.haoji.dailyActivity.dailyActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.haoji.userActivity.login1Activity"
            android:label="@string/title_activity_login1"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.example.haoji.userActivity.showinfoActivity"
            android:label="@string/title_activity_showinfo"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.example.haoji.userActivity.changePasswordActivity"
            android:label="@string/title_activity_change_password"
            android:theme="@style/AppTheme.NoActionBar" />
		 <activity
            android:name="com.example.haoji.userActivity.RegisterActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.example.haoji.dailyActivity.passChangeActivity"
            android:label="@string/title_activity_pass_change"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name="com.example.haoji.dailyActivity.newPlan"
            android:label="newPlan"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name="com.example.haoji.userActivity.forgetPasswordActivity"
            android:label="forgetPasswordActivit"
            android:theme="@style/AppTheme.NoActionBar"/>
        <!-- 注册SDKActivity -->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="tencent1105602574" /> <!-- 开放平台获取的APPID -->
            </intent-filter>
        </activity>
        <activity android:name="com.tencent.connect.common.AssistActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:screenOrientation="portrait"/>
    </application>

</manifest>