<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.schedule">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".forgetPasswordActivity"
            android:label="@string/title_activity_change_password"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".login1Activity"
            android:label="@string/title_activity_login1"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".showinfoActivity"
            android:label="@string/title_activity_showinfo"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".changePasswordActivity"
            android:label="@string/title_activity_change_password"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>